.header {
	color: rgb(76, 125, 189);
}

.page {
	background-color: rgb(230,230,230);
}

.back-home {
	display: flex;
	padding: 15px;
}

.back-home > div {
	background-color: rgb(210, 210, 210);
	color: black;
	padding: 10px;
}

.back-home > div > a:link {
	color: rgb(55,55,55);
	text-decoration: none;
}

.back-home > div > a:visited {
	color: rgb(55,55,55);
	text-decoration: none;
}

.row {
	display: flex;
	max-width: 100%;
	align-items: center;
}

.row > div {
	width: 30%;
	text-align: center;
	margin:	30px;
}

.row > div > a {
	width: 100%;
}

.row > div > a > img {
	width: 100%;
}