.header {
	color: rgb(76, 125, 189);
}

.page {
	background-color: rgb(230,230,230);
}

.nav-bar {
	display: flex;
	padding: 10px;
}

.nav-bar > .active-tab {
	background-color: rgb(140,140,140);
	color: black;
	padding: 10px;
	width: 70px;
	margin: 5px;
	text-align: center;
}

.nav-bar > .tab {
	background-color: rgb(210, 210, 210);
	color: black;
	padding: 10px;
	width: 70px;
	margin: 5px;
	text-align: center;
}

.nav-bar > .active-tab:hover {
	background-color: rgb(120,120,120);
}

.nav-bar > .tab:hover {
	background-color: rgb(170,170,170);
}


.active-tab > a:link {
	color: rgb(55,55,55);
	text-decoration: none;
}

.active-tab > a:visited {
	color: rgb(55,55,55);
	text-decoration: none;
}

.tab > a:link {
	color: rgb(55,55,55);
	text-decoration: none;
}

.tab > a:visited {
	color: rgb(55,55,55);
	text-decoration: none;
}

.gallery {
	background-color: rgb(220,220,220);
	max-width: 100%;
}

.gallery > div {
	display: flex;
	max-width: 100%;
	align-items: center;
}

.gallery > div > div {
	width: 33%;
	padding: 15px;
}

.gallery > div > button {
	width: 33%;
	padding: 15px;
}

.gallery > div > button > img {
	max-width: 100%;
	position: center;
}


.gallery > div > div > a {
	max-width: 100%;
	position: center;
}

.gallery > div > div > a > img {
	max-width: 100%;
	position: center;
}

.window {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0%;
	left: 0%;
	background-color: rgb(200,200,200);
	color: black;
	padding: 15px;
}

.pop_cont {
	position: fixed;
	width: 50%;
	top: 20%;
	left: 20%;
	vertical-align: middle;
}

.pop {
	width: 100%;
}

.topButton {
	display: none;
	position: sticky;
	bottom: 30px;
	right: 30px;
	background-color: rgb(200,200,200);
	color: black;
	padding: 15px;
}

.topButton:hover {
	background-color: rgb(170,170,170);
}
